In [ ]:
# READING LESSONS
# FIRST PART

x = 7
if x<6 :
    print('x is smaller than 6')
elif x>6 :
    print(' x is greater than 6')

 x is greater than 6

In [28]:
numbers = []
for x in range(10):
    numbers.append(x*x)

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
lista = []
for x in range(10):
    lista.append(x*x)

# with the list comprehension.
list = [x*x for x in range(10)]

lista , list

([0, 1, 4, 9, 16, 25, 36, 49, 64, 81], [0, 1, 4, 9, 16, 25, 36, 49, 64, 81])

In [35]:
# Numeri dispari

odd_numbers = [x for x in range(10) if x%2 != 0]
odd_numbers

[1, 3, 5, 7, 9]

In [37]:
# numeri pari
even_numbers = [x*x for x in range(20) if x%2 == 0]
even_numbers

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [48]:
caratteri = [x for x in "luxure"]
caratteri


# fonction lambda 
somma = lambda x, y : x+y
somma(3,5)
caratteri , any(x in caratteri for x in caratteri) , somma(3,5)

(['l', 'u', 'x', 'u', 'r', 'e'], True, 8)

In [62]:
### Esempio #1

#Creiamo una funzione per calcolare lo **stipendio totale**.
stipendio_per_mese = [500.5 , 785.5 , 655.5 , 800 , 700.5 , 897.5 , 500.5 , 850.5 , 496.5 , 900 ]
stipendio_per_mese

def calcul_salary(stipendio_base, bonus = 0.1):
    return stipendio_base*(1+bonus)

stipendio_totale = [calcul_salary(stipendio) for stipendio in stipendio_per_mese]
stipendio_totale

[550.5500000000001,
 864.0500000000001,
 721.0500000000001,
 880.0000000000001,
 770.5500000000001,
 987.2500000000001,
 550.5500000000001,
 935.5500000000001,
 546.1500000000001,
 990.0000000000001]

In [ ]:
#Ma cosa succede se dobbiamo applicare questa funzione a una **lista** di stipendi?

salary_totale = [(lambda x : x * (1.1))(stipendio) for stipendio in stipendio_per_mese] 
salary_totale

[550.5500000000001,
 864.0500000000001,
 721.0500000000001,
 880.0000000000001,
 770.5500000000001,
 987.2500000000001,
 550.5500000000001,
 935.5500000000001,
 546.1500000000001,
 990.0000000000001]

In [71]:
#Possiamo usare la **list comprehension** per farlo in modo efficiente!
calcul_salary_total = [stipendio*1.1 for stipendio in stipendio_per_mese]
calcul_salary_total

[550.5500000000001,
 864.0500000000001,
 721.0500000000001,
 880.0000000000001,
 770.5500000000001,
 987.2500000000001,
 550.5500000000001,
 935.5500000000001,
 546.1500000000001,
 990.0000000000001]

In [ ]:
import random
random.randint(6,9)
# from random import randint
# randint(6,9)

9

In [ ]:
import pandas as pd

In [82]:
import statistics

salary_list = [98000, 101000, 102000, 99000, 97000]

# Calcolo media, mediana e moda
mean = statistics.mean(salary_list)
median = statistics.median(salary_list)
mode = statistics.mode(salary_list)
mean , median , mode # stampe mean median e mode sans preciser
# Stampo media, mediana e moda en specifiant chacun son nom
print(f'Mean: {mean}')
print(f'Median: {median}')
print(f'Mode: {mode}')

Mean: 99400
Median: 99000
Mode: 98000

In [26]:
def greet(name):
    print(f'Hello, {name}')

greet("alice")

Hello, alice

In [27]:
def diff(a,b):
    """return the difference between a and b"""
    return a-b 
diff(10,9)

1